<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=10.1.10.110;Initial Catalog=EMRCaduceus;Persist Security Info=True;User ID=emrcaduceus;Password=3mrC@duc3u$;Connection Timeout=36000;" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="Caduceus Exams &lt;ce@caduceususa.com&gt;">
        <network host="10.9.2.251" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>